table {
margin: auto;
}

#checkButton {
	display: block;
	text-align: center;
	margin-top: 10px;
}

.b1, .b4, .b7{
	border-left: 4px solid black;
}

.b3, .b6 {
	border-right: 0px ;
}

.b9 {
	border-right: 4px solid black;
}

.a1, .a4, .a7 {
	border-top: 4px solid black;
}

.a3, .a6 {
	border-bottom: 0px ;
}

.a9 {
	border-bottom: 4px solid black;
}

td {
	width: 50px;
	height: 50px;
	padding: 0px;
}

tr td input {
	height: 100%;
	width: 100%;
	font-size: 33px;
	border: 1px solid black;
}

input:disabled {
	background-color: white;
	color: black;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}